body {
    font-family: sans-serif;
}

@font-face {
    font-family: 'Doctor Satan';
    src: url('../fonts/DoctorSatan.ttf');
}

header {
    text-align: center;
    height: 10rem;
    padding-top: 2rem;
    background: linear-gradient(#526e55 0%, #979d45 100%);
}

.cadavre {
    font-family: 'Doctor Satan';
    font-size: 5em;
    color: #320e06;
    text-shadow: 3px 3px 5px white;
}

.exquis {
    font-family: 'Bungee Shade', cursive;
    font-size: 2em;
    color: #daf7a6;
    text-shadow: 1px 1px 3px white;
}

main {
    position: relative;
    background: radial-gradient(#8ba393, #82534d);
    box-shadow: 0 5px 5px black inset;
    padding: 3rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.button {
    background-color: #979d4533;
    color: #3D4335;
    text-shadow: 1px 1px 3px white;
    border: 3px solid #3D4335;
    padding: 0.5em 1em;
    font-size: 1em;
}

.button:hover {
    color: white;
    text-shadow: 1px 1px 3px #3D4335;
    cursor: pointer;
}

#again {
    width: 10em;
    margin: 1em auto;
}

.formOpen {
    display: none;
    width: 10rem;
    margin: 2em 0px 1em;
    text-align: center;
    margin: 0 auto;
}

form {
    display: none;
    background-color: #979d4533;
    color: #3D4335;
    border: 3px solid #3D4335;
    padding: 0.3em 0.5em;
    width: 60%;
    margin: 0 auto;
}

.formClose {
    margin-right: 1em;
}

form div {
    padding: 0.3em;
}

form div:last-child {
    text-align: right;
    display: flex;
    justify-content: flex-end;
}


form label {
    display: inline-block;
    width: 100px;
    text-align: right;
}

form input {
    text-align: center;
    width: 10rem;
}

.cadex {
    text-align: center;
    margin-bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.word {
    padding: 5px 5px;
    font-size: 2em;
    font-weight: bold;
    color: #3D4335;
    text-shadow: 1px 1px 3px white;
    animation: bump 0.5s ease-in-out forwards;
    opacity: 0;
}

@keyframes bump {
    0% {
        opacity: 0;
        transform: perspective(300px) translateZ(-200px);
    }

    10% {
        transform: perspective(300px) translateZ(-200px);
    }

    60% {
        opacity: 1;
        transform: perspective(300px) translateZ(50px);
    }

    100% {
        transform: perspective(300px) translateZ(0px);
        opacity: 1;
    }
}

table,
td,
th {
    border: 1px solid #333;
    padding: 1rem;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}

table {
    margin: 2rem auto;
    position: relative;
}